body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url("./img/mozaika.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
